.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:root{
    --one: #202124;
    --thus: white;
    --tree: #11C76F;

}
.container{
    background-color: var(--one);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    border-radius: 2em;
    margin: auto;
}
.container > h1,h2{
    color: var(--thus);
}
button{
    height: 3em;
    width: 100;
    background-color:var(--tree);
    color: var(--thus);
    width: 70%;
    border-radius: 1em;
    font-weight: 100;
    font-size: 1em;
}
button:hover{
    border: solid 0.5px var(--thus);
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}
.area{
    display: flex;
    justify-content: center;
}
#text_area{
    margin-top: 5%;
    background-color: var(--tree);
    border-radius: 3px;
    border: none;
    color: var(--thus);
}
#text_area:hover{
    background-color: transparent;
    color: var(--thus);
    border: solid 0.5px var(--thus);
    transition: 0.5s;

}